# Engineers Without Borders GWU x CE6800 Data Science Bhutiya Water Management Program<a class="tocSkip">

## General Description
This project is in support of the Engineers Without Borders GWU Bhutiya Water Management Program, in their aim to combat climate change-driven water scarcity, over-exploitation of groundwater resources, and inefficient irrigation practices.

This project will inform the design process for an integrated dam-percolation pond system for the Bhutiya community. This code seeks to estimate expected rainfall, runoff conversion, and thereby the optimal dimensions and design of the proposed system.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import geopandas as gpd
from shapely.geometry import Point, Polygon

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import KFold

In [23]:
class color:
   PURPLE = '\033[95m'
   CYAN = '\033[96m'
   DARKCYAN = '\033[36m'
   BLUE = '\033[94m'
   GREEN = '\033[92m'
   YELLOW = '\033[93m'
   RED = '\033[91m'
   BOLD = '\033[1m'
   UNDERLINE = '\033[4m'
   END = '\033[0m'

In [24]:
import os
cwd = os.getcwd()
cwd

'C:\\Users\\sophiaertel\\CE6800'

# Insert Table of Contents
For installation directions refer to: https://jupyter-contrib-nbextensions.readthedocs.io/en/latest/install.html

For usage refer to: https://jupyter-contrib-nbextensions.readthedocs.io/en/latest/nbextensions/toc2/README.html
1. Conda install the jupyter_contrib_nbextensions python package and the Javascript and CSS files.
    
    In Anaconda prompt:
    conda install -c conda-forge jupyter_contrib_nbextensions


2. Enable extension

   Use the jupyter_nbextensions_configurator server extension, which is installed as a dependency of this repo, and can be used to enable and disable the individual nbextensions, as well as configure their options. You can then open the nbextensions tab on the tree (dashboard/file browser) notebook page to configure nbextensions. You will have access there to a dashboard where extensions can be enabled/disabled via checkboxes.

# Import Open Sourced Datasets

## Precipitation

Import open source Indian rainfall data as .csv from https://data.gov.in/resources/sub-divisional-monthly-rainfall-1901-2017

In [25]:
precip = pd.read_csv('C:\\Users\\sophiaertel\\CE6800\\Subdivision_Rainfall1901-2017.csv')

Clean up dataset to only include relevant subdivision. <p>The Bhutiya village, of the Udaipur district, is classified as East Rajasthan

In [26]:
precip = precip[precip.SUBDIVISION == 'East Rajasthan']

Dataset to include yearly precipitation averages for seasons & annual. <p>Rainfall seasons are delineated as follows: 
<p>JF (January/February) -- Dry
<p>MAM (March/April/May) -- Dry
<p>JJAS (June/July/August/September) -- Monsoon
<p>OND (October/November/December) -- Dry

In [27]:
precip = precip.drop(columns=['SUBDIVISION','JAN','FEB','MAR', 'APR','MAY','JUN','JUL', 'AUG','SEP','OCT','NOV', 'DEC'])

Reset the Index to zero & Display the dataset

In [29]:
precip.reset_index(drop=True, inplace = True)
print(color.BOLD + 'Average Precipitation (mm) from 1901-2017 for East Rajasthan' + color.END)
precip

Average Precipitation (mm) from 1901-2017 for East Rajasthan

     YEAR  ANNUAL    JF   MAM   JJAS   OND
0    1901   412.5  30.5   8.5  362.9  10.6
1    1902   578.3   4.8  11.7  544.5  17.2
2    1903   686.1   2.7  14.2  651.4  17.8
3    1904   694.5   9.8  49.4  613.3  22.0
4    1905   279.8  12.8   6.8  259.6   0.6
..    ...     ...   ...   ...    ...   ...
112  2013   836.1  23.1   4.6  776.1  32.2
113  2014   683.3  38.4  22.1  618.4   4.4
114  2015   650.7  12.1  75.3  557.0   6.3
115  2016   860.6   1.0  13.3  813.7  32.6
116  2017   600.3   8.4  21.3  566.9   3.8

[117 rows x 6 columns]